body{
    background-image: url(img/logo.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1 {
    color: red;
    margin: 50px 0;
    display:  block;
    text-align: center;
    font-size: 80px;
    text-shadow: 0 0 20px #000;
}
.fotos {
    width: 100%;
    margin: 0 auto;
}
#container:after{
    content: ¨¨;
    display: block;
    height: 0;
    clear: both;
}
#container {
    width: 90%;
    margin: 0 auto;
}
#container div{
    width: 28%;
    height: auto;
    -webkit-webkit: transition 1s;
    -moz-webkit: transition 1s;
    -ms-webkit: transition 1s;
    -o-webkit: transition 1s;
    display: inline;
    float: left;
    margin: 0px 3% 0 0;
    padding: 0;
}
#container div img{
    width: 100%;
    height: auto;
    box-shadow: rgb(255, 0, 0);
    border: 5px solid;
}
#container div img~span {
    width: 100%;
    display: block;
    opacity: 0;
    -webkit-webkit: transition 1s;
    -moz-webkit: transition 1s;
    -ms-webkit: transition 1s;
    -o-webkit: transition 1s;
    margin: 0;
    padding: 2px 5px;
    color: rgb(243, 24, 9);
    background: rgba(1, 1, 5, 0.7);
    text-align: center;
}
#container div img:hover+span{
    opacity: 1;
}
#container:hover div{
    opacity: 0.2;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}
#container:hover div:hover{
    opacity: 1;
    -webkit-transform:scale(1) ;
    -ms-transform: scale(1);
    transform: scale(1);
}
